  .card { float: right;
         padding: 50px;
         background-color:magenta;

}
img{ width: 60%;
    height: auto;
    padding: 30px;

  }
  body{background :yellow
       

  }
  nav bar{background-color: green;

  }